<hr>
<div class="row">
  <div class="col-9 col-md-10 col-lg-11">
    User application &copy;{{{templateData.copyYear}}}
  </div>
  <div class="col-3 col-md-2 col-lg-1">
    <a href="/" title="User application">
      <img src="/img/user.svg" alt="Home" class="icon-user">
    </a>
  </div>
</div>